BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
SortIncludes: true
IncludeBlocks: Regroup
PointerAlignment: Right
SpaceAfterCStyleCast: false
