---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  -cert-err33-c,
  clang-analyzer-*,
  misc-*,
  -misc-unused-parameters,
  -misc-include-cleaner,
  performance-*,
  portability-*,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-redundant-declaration

WarningsAsErrors: '*'

HeaderFilterRegex: 'include/triepack/.*'
